<%= render 'layouts/admin_header' %>
<section class="list-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="list-title">Eventos</h1>
      </div> 
      <hr>
      <% @events.each do |event| %>
        <%= link_to(event) do %>
          <div class="list col-sm-4 col-sm-offset-1 offset-sm-1">
            <h5 class="client-name col-sm-12"><%= event.name %></h5>
            <div class="col-sm-12">
              <p class="subtitle col-sm-12">Lugar: </p>
              <p class="info col-sm-12">
                <%= event.address %>, <%= event.city %> a las <%= event.time.to_s(:time) %> el dia <%= event.date.to_s(:short) %> 
              </p>
            </div>
          </div>
		    <% end %>
      <% end %>
    </div>
  </div>
</section>