<%= render 'header' %>
<div class="container members">
  <div class="row twice">
    <div class="col-sm-6 member">  
      <container class="image-container col-sm-4">
      	<%= cl_image_tag("gala_btrnk4.jpg", class: "member-image img-responsive", :height=>325, :width=>200, :crop=>"scale") %>
      </container>
      <div class="col-sm-6 offset-sm-2 info-container">
        <h5>Galacion Santana Díaz</h5>
        <p>3° Violin <br> Fundador</p>
      </div>
    </div>
    <div class="col-sm-6 member">
    	<container class="image-container col-sm-4">
        <%= cl_image_tag("Miguel_xembr4.jpg", class: " member-image img-responsive", :height=>325, :width=>200, :crop=>"scale") %>
      </container>  
      <div class="col-sm-6 offset-sm-2 info-container">
        <h5>Miguel Santana Díaz</h5>
        <p>1° Violin <br> Fundador</p>
      </div>
    </div>
  </div>
  <hr>
  <div class="row twice">
    <div class="col-sm-6 member">
    	<container class="image-container col-sm-4">
        <%= cl_image_tag("fregoso_iizaiw.jpg", class: " member-image img-responsive", :height=>325, :width=>200, :crop=>"scale") %>
    	</container>  
      <div class="col-sm-6 offset-sm-2 info-container">
        <h5>Abraham Fregooso</h5>
        <p>2° Violin <br> Fundador</p>
      </div>
    </div>
    <div class="col-sm-6 member">  
      <container class="image-container col-sm-4">
        <%= cl_image_tag("mario_wcqamb.jpg", class: " member-image img-responsive", :height=>325, :width=>200, :crop=>"scale") %>
      </container>
      <div class="col-sm-6 offset-sm-2 info-container">
        <h5>Mario Martinez</h5>
        <p>2° Trompeta <br> Fundador</p>
      </div>
    </div>
  </div>
  <hr>
  <div class="row twice">
    <div class="col-sm-6 member">  
      <container class="image-container col-sm-4">
        <%= cl_image_tag("ana_vuzlzb.jpg", class: " member-image img-responsive", :height=>325, :width=>200, :crop=>"scale") %>
      </container>
      <div class="col-sm-6 offset-sm-2 info-container">
        <h5>Ana Graciela Limón</h5>
        <p>1° Violin</p>
      </div>
    </div>
    <div class="col-sm-6 member">  
      <container class="image-container col-sm-4">
        <%= cl_image_tag("Nicolas_kvvcqn.jpg", class: " member-image img-responsive", :height=>325, :width=>200, :crop=>"scale") %>
      </container>
      <div class="col-sm-6 offset-sm-2 info-container">
        <h5>Nicolas Gonzales Niz</h5>
        <p>Guitarra</p>
      </div>
    </div>
  </div>
  <hr>
  <div class="row twice">
    <div class="col-sm-6 member">  
      <container class="image-container col-sm-4">
        <%= cl_image_tag("Luis_aji3pb.jpg", class: " member-image img-responsive", :height=>325, :width=>200, :crop=>"scale") %>
      </container>
      <div class="col-sm-6 offset-sm-2 info-container">
        <h5>Luis Angel Rosales</h5>
        <p>Guitarron</p>
      </div>
    </div>
    <div class="col-sm-6 member">  
      <container class="image-container col-sm-4">
        <%= cl_image_tag("Miguel.jpg", class: " member-image img-responsive", :height=>325, :width=>200, :crop=>"scale") %>
      </container>
      <div class="col-sm-6 offset-sm-2 info-container">
        <h5>Galacion Santana Díaz</h5>
        <p>3° Violin <br> Fundador</p>
      </div>
    </div>
  </div>
  <hr>
</div>
<%= render 'footer' %>